.table-cont {
background: #31663C;
height: 100vh;
}

.player-row, .dealer-row, .deck-row {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  height: 26.7vh;
}

.dealer-col {
  text-align: center;
}

.title-col {
  text-align: center;
  color: yellow;
  font-size: 40pt;
}

.deck-col {
  text-align: center;
}

.player-container {
  text-align: center;
}

.player-title-line {
  text-align: center;
}

.bet-col {
  text-align: center;
  font-size: 15pt;
}

.instruction-col {
  font-size: 15pt;
  color: yellow;
}

.ui-bar {
  background: url("wood2.jpg");
  border-radius: 20px;
}

.bold {
  font-weight: bold;
}

img {
  height: 150px;
  width: 100px;
  margin: 0 15px;
}

button {
  font-size: 25px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px;
}

p {
  margin: 0;
}

.token-total {
  font-family: 'Casino Queen Normal';
  font-size: 30pt;
}
